<h1>Coachings#answer</h1>


<h2> <%= @search_term %> </h2>
<p> - you </p>



<h3> <%= @answer %></h3>
<p> - your coach</p>



<% link_to("http://localhost:3000/ask") do %>
  <p> Do you want to ask another question ? <p>
<% end %>
